
#canvas_wrapper {
    width: 85%;
    height: 100%;
    position: absolute;
}

#chat {
    width: 15%;
    height: 100%;
    position: absolute;
    left: 85%;
    overflow-x: hidden;
}

#message_field {
    width: 100%;
    min-height: 120px;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    border-bottom: 1px black solid;
}

#chat_message > * {
    color: black;
}

.chat_element > div {
    color: black;
    width: 100%;
    overflow-wrap: break-word;
}

.chat_element > div:nth-child(1),
.chat_element > div:nth-child(2) {
    font-size: 0.6em;
}

.partial.game {
    width: 100%;
    height: 100%;
    background-color: white;
}
