@font-face {
  font-family: pixelFont;
  src: url('PixelVerdana.woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'pixelFont';
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#board_blur {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(10px);
    top: 0;
    z-index: -1;
}

button {
    background: Transparent;
    padding: 1.25em;
    border: black double 6px;
    border-radius: 10px;
}

input {
    border: none;
    text-align: center;
    width: 10%;
    background: black;
    padding: 1em;
}

#public_room_name, #public_room_player_count,
#private_room_player_count, #private_room_password {
    min-width: 150px;
}
