.container {
  height: 100%;
}

/* NEXT SECTION */
.container.partial.main_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.7fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "join_room join_room"
    "public_room public_room"
    "private_room private_room";
}

.public_room {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "create_public_room_title create_public_room_title"
    "public_room_name public_room_name_input"
    "public_room_players public_room_players_input"
    "create_public_room_button create_public_room_button";
  justify-self: center;
  align-self: center;
  grid-area: public_room;
}

.create_public_room_title { grid-area: create_public_room_title; }

.create_public_room_button { grid-area: create_public_room_button; }

.public_room_name {

  justify-self: end;
  grid-area: public_room_name;
}

.public_room_name_input {

  justify-self: start;
  grid-area: public_room_name_input;
}

.public_room_players {

  justify-self: end;
  grid-area: public_room_players;
}

.public_room_players_input {

  justify-self: start;
  grid-area: public_room_players_input;
}

.join_room {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "."
    ".";
  justify-self: center;
  align-self: center;
  grid-area: join_room;
}

.private_room {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "create_private_room create_private_room"
    "private_room_players private_room_players_input"
    "create_private_room_button create_private_room_button";
  justify-self: center;
  align-self: center;
  grid-area: private_room;
}

.create_private_room { grid-area: create_private_room; }

.private_room_players {

  justify-self: end;
  align-self: center;
  grid-area: private_room_players;
}

.private_room_players_input {

  justify-self: start;
  align-self: center;
  grid-area: private_room_players_input;
}

.create_private_room_button { grid-area: create_private_room_button; }

/* NEXT SECTION */
.container.partial.room_type_select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". ."
    "room_type_selection room_type_selection"
    ". .";
}

.room_type_selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "back_from_room_select back_from_room_select"
    "room_type_select_title room_type_select_title"
    "public_room private_room";
  justify-self: center;
  align-self: center;
  grid-area: room_type_selection;
}

.back_from_room_select {

  justify-self: center;
  align-self: center;
  grid-area: back_from_room_select;
}

.room_type_select_title {

  justify-self: center;
  align-self: center;
  grid-area: room_type_select_title;
}

.public_room_button {

  justify-self: center;
  align-self: center;
  grid-area: public_room;
}

.private_room_button {

  justify-self: center;
  align-self: center;
  grid-area: private_room;
}

/* NEXT SECTION */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". ."
    "private_rooms_screen private_rooms_screen"
    ". .";
}

.private_rooms_screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "back_from_private_rooms back_from_private_rooms"
    "private_room_label private_room_label"
    "private_room_password private_room_password_input"
    "private_room_join_button private_room_join_button";
  justify-self: center;
  align-self: center;
  grid-area: private_rooms_screen;
}

.back_from_private_rooms {

  justify-self: center;
  align-self: center;
  grid-area: back_from_private_rooms;
}

.private_room_label {

  justify-self: center;
  align-self: center;
  grid-area: private_room_label;
}

.private_room_join_button { grid-area: private_room_join_button; }

.private_room_password_input {

  justify-self: start;
  align-self: center;
  grid-area: private_room_password_input;
}

.private_room_password {

  justify-self: end;
  grid-area: private_room_password;
}
